* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    height: 1px;
}

.blocFilm {
    background-color: #333;
    color: white;
    padding: 2vw;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
}

.blocFilm h2 {
    font-size: 1.6em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: default;
}


body {
    background-color: #1a1a1a;
    color: white;
    font-family: 'Arial', sans-serif;
    justify-content: center;
    max-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputTime {
    display: flex;

}

.hour {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

.blocAff {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;
    border-bottom: 2px solid #555;
}

.histoName {
    width: 20vw;
    text-align: start;
}



.blocSubInfo,
.blocHistoInfo {
    text-align: center;
    background-color: #333;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    padding: 2vw;
    border-radius: 10px;
    margin-bottom: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 1.8em;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin: 0.5vw;
    cursor: default;
}

.userHisto,
.userName {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1vw;
    background-color: #444;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    padding: 0.5vw 1vw;
    margin: 1vw 0;
}

.blocH,
.choixFilm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1vw;
    border-bottom: 2px solid #555;
}

.histoProp {
    width: auto;
    padding: 0.5vw;
    cursor: alias;
    transition: background-color 0.3s ease;
    text-align: start;
}

.blocHistoName {
    width: 100%;
    margin-bottom: 1vw;
}

.buttonAdd,
.buttonDelete {
    transition: transform 0.2s ease, background-color 0.3s ease;
    cursor: pointer;
}

.buttonAdd {
    width: 3vw;
    height: 3vw;
}

.buttonAdd:hover {
    transform: scale(1.1);
}

.buttonDelete {
    width: auto;
    padding: 0.5vw 1vw;
    border: none;
    margin-top: 1vw;
    background-color: #d9534f;
    border-radius: 5px;
}

.buttonDelete:hover {
    background-color: #c9302c;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
}

input,
select {
    padding: 0.5vw;
    margin: 0.5vw;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"] {
    background-color: white;
    border: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: #cbcbcb;
}

input[type="date"] {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

input[type="select"],
select {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
}

input[type="text"] {
    border: 2px solid #555;
    border-radius: 5px;
    background-color: #222;
    color: white;
    cursor: text;
}

input[type="button"].buttonDelete {
    width: auto;
    padding: 0.5vw 1vw;
}

.blocTitre {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.infoMovie {
    margin: 1vw;
}

.text {
    margin: 1vw;

}